:root {
  --primary-color: #424eff;
  --primary-color-faded: rgba(66, 78, 255, 0.24);
  --secondary-color: #263197;
  --tertiary-color: #fff;
  --quaternary-color: #0b0d22;
  --quinary-color: #c4d3d9;
  --sextenary-color: #7d80b2;
  --text-color: #333;
  --darkbgd-color: #555;
  --font-size: 10px;
  --spacing-unit: 10px;
  --spacing-pct: 10%;
  -webkit-text-size-adjust: 10px;
  -ms-text-size-adjust: 10px;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  overflow-x: hidden;
  height: auto;
}

@font-face {
  font-family: "Graphik Web";
  src: url(Graphik-Black-Web.woff2) format("woff2"),
    url(Graphik-Black-Web.woff) format("woff");
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Graphik Web";
  src: url(Graphik-Bold-Web.woff2) format("woff2"),
    url(Graphik-Bold-Web.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Graphik Web";
  src: url(Graphik-Semibold-Web.woff2) format("woff2"),
    url(Graphik-Semibold-Web.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Graphik Web";
  src: url(Graphik-Regular-Web.woff2) format("woff2"),
    url(Graphik-Regular-Web.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

html {
  background: var(--tertiary-color);
}

body {
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

section {
  width: calc(10 * var(--spacing-pct));
  grid-area: main;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  justify-content: center;
  margin: calc(2.4 * var(--spacing-unit)) 0;
}

* {
  font-family: "Graphik Web", Helvetica, sans-serif;
  box-sizing: border-box;
  color: var(--quaternary-color);
}

h3 {
  font-weight: 700;
  font-size: calc(4 * var(--font-size));
  margin: calc(0.8 * var(--spacing-unit)) 0;
}

h6 {
  font-weight: 700;
  font-size: calc(2.4 * var(--font-size));
  margin: calc(2.4 * var(--spacing-unit)) 0;
}

label.normal {
  font-size: calc(1.4 * var(--font-size));
  font-weight: 800;
  color: var(--quaternary-color);
  text-transform: uppercase;
  letter-spacing: 1.08px;
  margin: 32px 0 8px 0;
}

input[type="text"] {
  font-family: "Graphik Web", Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  height: calc(5.6 * var(--spacing-unit));
  width: calc(48 * var(--spacing-unit));
  font-size: calc(1.8 * var(--font-size));
  color: var(--quaternary-color);
  border: none;
  border-bottom: solid var(--darkbgd-color) calc(0.1 * var(--spacing-unit));
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

input[type="text"]:focus {
  outline: 0;
  border-bottom: none;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  padding: calc(1.6 * var(--spacing-unit));
  background: rgba(64, 153, 248, 0.125);
  border-radius: calc(0.8 * var(--spacing-unit));
}

.error {
  position: relative;
  -webkit-animation: shake 0.3s linear;
  animation: shake 0.3s linear;
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
}

.shake {
  -webkit-animation: shake 0.4s 1 linear;
  -moz-animation: shake 0.4s 1 linear;
  -o-animation: shake 0.4s 1 linear;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(calc(1.6 * var(--spacing-unit)));
  }
  20% {
    -webkit-transform: translate(calc(-1.6 * var(--spacing-unit)));
  }
  40% {
    -webkit-transform: translate(calc(0.8 * var(--spacing-unit)));
  }
  60% {
    -webkit-transform: translate(calc(-0.8 * var(--spacing-unit)));
  }
  80% {
    -webkit-transform: translate(calc(0.4 * var(--spacing-unit)));
  }
  100% {
    -webkit-transform: translate(calc(0 * var(--spacing-unit)));
  }
}

@media screen and (max-width: 767px) {
  section {
    width: calc(9 * var(--spacing-pct));
    margin: calc(1.6 * var(--spacing-unit));
  }
  input[type="text"] {
    min-width: none;
    width: calc(10 * var(--spacing-pct));
    font-size: calc(1.4 * var(--font-size));
  }
}
